<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TCA Lighting System</title>
  </head>
  <body>
    <h1>Current status:</h1>
    <div style="width: 100px; height: 100px"><%- include("./partials/currentState.ejs") %></div>
  </body>
</html>
